.top-content
.left-content
  .left-content__user
    %p
      = current_user.name
    %span.left-content__user-mark1
      = link_to new_group_path do
        %i.fa.fa-external-link
    %span.left-content__user-mark2
      = link_to edit_user_registration_path do
        %i.fa.fa-cog
  .left-content__group
    .left-content__group-content
      .left-content__group-name
        - current_user.groups.each do |group|
          %p
            = group.name
      .left-content__group-text
        %p ガチャを回せ
.right-content
  .right-content__name
    .right-content__name-element
      .right-content__name-element-group
        %p samleグループ
      .right-content__name-element-user
        %p userネーム
    .right-content__name-edit
      .right-content__name-edit-element
        edit
  .right-content__chat
    .right-content__chat-name
      %p ユーザーネーム
    .right-content__chat-time
      %p 2017/4/25
    .right-content__chat-text
      %p ああああああああああああああ
  .right-content__message
    %textarea(placeholder="type a message")
    %i(class="fa fa-picture-o")
    %input(class="right-content__message-button" type="submit" name="send" value="Send")

