.left-content{
  float: left;
  background: #2f3e51;
  width: 300px;
  height: 100vh;
  &__user{
    height: 15%;
    background: #253141;
         p{
          font-size: 16px;
          font-weight: bold;
          color: white;
          padding: 35px 0 50px 20px;
          }
          &-mark1{
            .fa-external-link:before {
            content: "\f08e";
            position: relative;
            bottom: 75px;
            left: 250px;
            }
          }
          &-mark2{
            .fa-gear:before, .fa-cog:before {
            content: "\f013";
            color:white;
            position: relative;
            bottom: 75px;
            left: 250px;
            }
          }
  }
  &__group{
    &-content{
      padding: 20px 0 20px 20px;
      .left-content__group-name {
        p {
          font-size: 15px;
          margin: 0 auto;
          color: white;
        }
      }
      .left-content__group-text {
        p {
          font-size: 11px;
          color: white;
        }
      }
    }
  }
}
